.conteneurPrincipal {
-fx-border-style: solid;
-fx-border-width: 3px;
-fx-border-color: #161620;
-fx-background-color: wheat;
-fx-alignment: center;


}



.titreMain{
	
	
}
.titreMainText{
	
	-fx-font-size: 32px;
	-fx-fill: brown;
}


.nouvellePartie {
	
	-fx-padding: 10px;
	
	
}
.button1 {
	 -fx-background-color: red;
	 -fx-padding: 15px 32px;
	 
	 -fx-font-size: 16px;
	 -fx-stroke: white;
	 -fx-min-width:260px;
	 -fx-max-width:260px;
	 
}
.button2 {
	 -fx-background-color: green;
	 -fx-padding: 15px 32px;
	 
	 -fx-font-size: 16px;
	 -fx-stroke: white;
	 -fx-min-width:260px;
	 -fx-max-width:260px;
	
	 
}




