.conteneurPrincipal {
    -fx-border-style: solid;
-fx-border-width: 3px;
-fx-border-color: #161620;
-fx-background-color: wheat;
-fx-alignment: center;


}

.conteneurParametreSons {
    -fx-min-width: 160px;
-fx-max-width: 480px;
-fx-min-height: 120px;
-fx-max-height: 225px;
-fx-border-style: dashed;
-fx-border-width: 2px;
-fx-background-color: pink;



}

.titreMain{
	-fx-alignment: center;
	
}
.titreMainText{
	-fx-text-align: center;
	-fx-font-size: 32px;
	-fx-fill: brown;
}


.nouvellePartie {
	-fx-alignment: center;
	-fx-padding: 10px;
	
	
}
.button1 {
	 -fx-background-color: red;
	 -fx-padding: 15px 32px;
	 -fx-text-align: center;
	 -fx-font-size: 16px;
	 -fx-stroke: white;
	 -fx-min-width:260px;
	 -fx-max-width:260px;
	 
}
.button2 {
	 -fx-background-color: green;
	 -fx-padding: 15px 32px;
	 -fx-text-align: center;
	 -fx-font-size: 16px;
	 -fx-stroke: white;
	 -fx-min-width:260px;
	 -fx-max-width:260px;
	
	 
}


.boutonCoup:hover {
    
}

.boutonCoup:pressed {
    
}

.conteneurGrille {
    
}

.conteneurLigne {
    
}

.conteneurCase {
    
}

