<?xml version="1.0" encoding="UTF-8"?>

<?import javafx.scene.layout.VBox?>
<?import javafx.scene.layout.HBox?>
<?import javafx.scene.control.Button?>
<?import javafx.scene.control.Slider?>
<?import jeu_echec.vues.composants.MonAnimation?>

<?import javafx.scene.text.Text?>
<?import javafx.scene.image.ImageView?>
<?import javafx.scene.image.Image?>
<?import javafx.scene.layout.StackPane?>
<?import javafx.scene.layout.*?>

<StackPane xmlns:fx="http://javafx.com/fxml" styleClass="conteneurPrincipal" fx:id="conteneurPrincipal" fx:controller="jeu_echec.controleurs.controleurReglages">

<VBox VBox.vgrow="ALWAYS" fx:id="anchPane">
    <VBox styleClass="conteneurParametreSons" VBox.vgrow="ALWAYS">
		
	
		<HBox styleClass="titreMain" HBox.hgrow="ALWAYS">
                <Text styleClass="titreMainText" text="Jeu échec"/>	
			</HBox>
		
		<HBox styleClass="nouvellePartie" HBox.hgrow="ALWAYS">
                <Button styleClass="button1" text="Nouvelle partie"/>	
			</HBox>
			
			
			<HBox styleClass="nouvellePartie" HBox.hgrow="ALWAYS" >
                <Button fx:id="boutonParametre" styleClass="button2"  text="Paramètres"/>
            </HBox>
			
			
    </VBox>

</VBox>



</StackPane>

